<nav class="navbar navbar-default card-shadow" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span style="margin-left: 50px;">Superman Can not Fly</span>

                <img width="90px" src="../../public/img/logo3.png" alt="" style="width: 50px; margin-top: -35px;">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {{ if user }}
                <li ><h4 style="margin-top: 15px;">{{ user.nickname }}</h4></li>
                <a class="btn btn-default navbar-btn" href="/publish">发布</a>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><img width="20" height="20" src="../../public/img/logo3.png"
                                                  alt=""> <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="text-align: center;">
                        <li  class="dropdown-current-user">
                            <h4><i class="glyphicon glyphicon-hand-right"></i>
                                {{ user.nickname }}
                                <i class="glyphicon glyphicon-hand-left"></i>
                            </h4>
                        </li>
                        <li><a href="/user"><i class="glyphicon glyphicon-user"></i>个人主页</a></li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>退出登录</a></li>
                    </ul>
                </li>
                {{ else }}
                <a class="btn btn-primary navbar-btn" href="/login">登录</a>
                <a class="btn btn-success navbar-btn" href="/register">注册</a>
                {{ /if }}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

